

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  margin: auto 0;
}

.starship-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  width: 100%;
}

.starship-container {
  background-color: rgb(15, 61, 19);
}

button a {
  color: white;
}

button {
  margin: 5px 10px;
  height: 100px;
  width: 300px;
}

.details-container {
  background-color: rgb(15, 61, 19);
  width: 460px;
  height: 180px;
  padding: 20px;
}

h2 {
  color: white;
  text-align: left;
}

.return-link a {
  color: white;
  display: flex;
  justify-content: flex-start;
  text-decoration: underline;
}

.starship-banner {
  background: black;
  color: white;
  position: fixed;
  top: -35px;
  left: 0;
  width: 100%;
}